body{
    background-color: grey;
    /* background-image: url(images/n1.jpg); */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container{
    max-width: 900px;
    margin: 0 auto ;
}
.apply_box
{
    max-width: 600px;
    padding: 20px;
    background-color: rgb(38, 113, 141);
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 5px 3px 4px;
    border-radius: 3px;

}
.form_container
{
    margin: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
}
.form_control
{
   display: flex;
   flex-direction: column;
}
 label
{ 
    font-size: 15px;
    margin-bottom: 5px;
}

input,select,textarea
{
    padding: 6px ;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 3px;
    font-size: 15px;
}

input :focus
{
    outline-color: rgb(146, 61, 196);
}
.button_container
{
   display: flex;
   justify-content: flex-end;
   margin-top: 22px;
}
button
{
    background-color:rgba(71, 237, 91, 0.444);
    color: aliceblue;
    border: transparent  solid 5px ;
    padding: 3px 12px;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover
{
    background-color: rgb(217, 28, 28);
    color: rgb(215, 228, 216);
    border: 2px solid red;
    transition: 0.3s ease-out;
cursor: pointer;
}
.button_container,a
{
    text-decoration:none;
}

.textarea_control
{
    grid-column: 1/span 2;
    
}
.textarea_control textarea
{
    width: 100%;
}
@media (max-width:550px)
{
    .textarea_control
{
    grid-column: 1/span 1;
    
}

}

